</div>
<!-- /.container -->
<div class="overlay" id="site-overlay">
    <div class="overlay-content">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
</div>

{% include 'bootstrap/bootstrap.js.twig' %}
<script type="text/javascript" src="/js/JS-bundle.js"></script>

</body>

</html>