{# sidebar.twig #} {# admin menu, the left one in the page #}

<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li><a href="/admin/articles"><span class="glyphicon glyphicon-apple" aria-hidden="true"></span> Artikel</a></li>
        <li><a href="/admin/users"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Kunden</a></li>
        <li><a href="/admin/deliverynotes"><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> Lieferscheine</a></li>
        <li><a href="/admin/bills"><span class="glyphicon glyphicon-export" aria-hidden="true"></span> Guthaben</a><li>
        <li><a href="/"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> zurück</a></li>
    </ul>
</div>