{% include 'website/common/header.twig' %}

<div id="forgotpassword-index">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="text-center">
						<h3><i class="fa fa-lock fa-4x"></i></h3>
						{% if hash != null %}
						<h2 class="text-center">Neues Passwort!</h2>
						<p>Hier können Sie ein neues Passwort setzen.</p>
						<div class="panel-body">
							<form class="form" role="form" method="post" action="setpassword" accept-charset="UTF-8" id="setForm">
								<fieldset>
									<input style="display:none" id="hash" name="hash" required value="{{ hash }}">
									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
											<input id="setPassword" name="setPassword" placeholder="Passwort" class="form-control" type="password" required>
										</div>
									</div>
									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
											<input id="setPasswordConfirm" name="setPasswordConfirm" placeholder="Passwort wiederholen" class="form-control" type="password"
											 required>
										</div>
									</div>
									<div class="form-group">
										<input class="btn btn-lg btn-primary btn-block" id="setButton" value="Passwort zurücksetzen" type="submit">
										<p class="bg-danger" style="padding:1em;margin-top:.5em;display:none" id="setError">Die Passwörter stimmen nicht überein!</p>
									</div>
								</fieldset>
							</form>
						</div>
						{% else %}
						<h2 class="text-center">Passwort vergessen?</h2>
						<p>Hier können Sie es zurücksetzen.</p>
						<div class="panel-body">
							<form class="form" role="form" method="post" action="resetpassword" accept-charset="UTF-8" id="resetForm">
								<fieldset>
									<div class="form-group">
										<div class="input-group">
											<span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
											<input id="resetEmail" name="resetEmail" placeholder="E-Mail" class="form-control" type="email" required>
										</div>
									</div>
									<div class="form-group">
										<input class="btn btn-lg btn-primary btn-block" id="resetButton" value="Passwort zurücksetzen" type="submit">
										<p class="bg-success" style="padding:1em;display:none" id="resetSuccess">Es wurde ein Mail an die oben angegebene E-Mail Adresse verschickt!</p>
									</div>
								</fieldset>
							</form>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% include 'website/common/footer.twig' %}