{% include 'website/common/header.twig' %}

<div id="noaccess-index">
    <h2 class="text-danger"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Kein Zugriff!</h2>
    <p>Sie haben nicht die nötigen Rechte oder sind nicht eingeloggt um auf die angeforderte Seite zuzugreifen!</h3>
</div>

{% include 'website/common/footer.twig' %}